#top {
    background: #fff;
    color: #777777;
    width: 100%;
    border-bottom: #cccccc 2px solid;
}
#navigation{
    position: relative;
    width: 960px;
    color: #777777;
    margin: 0 auto;
    height: 75px;
    font-family: 'Georgia', Times, Times New Roman, serif;  
}
a:link { color: #777777;
    text-decoration: none;
}
a:visited { color: #777777; }
a:hover { color: pink; }
a:active { color: yellow; }

h1{
    margin-top: 0;
    margin-left: 0;
    background: #4aaaa5; 
    color: white;
    text-align: center;
    padding: 20px;
}
#name{
    width:30%;
    float: left;

}
a {
  
   padding: 5px;
   padding-right: 15px;
   margin-right: 25px;

   /* margin:10px ; */
   border-right: 1px solid;

}
.stuff {
    position: relative; 
    float: right;
    margin-top: 25px; 

}
.stuff a:last-child{
    border-right: 0;}

@media screen and (min-width: 400px) and (max-width: 767px) {

    #top{
      /* Box-model */
      width: 100%;
        
    }
    .stuff{
        float: left;    
    }
    #navigation{
      width: 700px;
      height: 64px;  
    }
    h1{
    font-size: 16px;
    }
    a { 
    font-size: 14px;
   padding: 2px;
   padding-right: 3px;
   margin-right: 0px;

   /* margin:10px ; */
   border-right: 1px solid;

    }
  }
    @media screen and (min-width: 768px) and (max-width: 1024px) {

        #top{
            /* Box-model */
            width: 100%;
              
          }
          .stuff{
              float: right;    
          }
          #navigation{
            width: 700px;
            height: 64px;  
          }
          h1{
          font-size: 16px;
          }
          a { 
          font-size: 16px;
         padding: 5px;
         padding-right: 10px;
         margin-right: 10px;
      
         /* margin:10px ; */
         border-right: 1px solid;
      
          }
    
}
    